<div id='new-user-greeting'>

  <%
  let now = new Date()
  let hour = now.getHours()
  let minute = now.getMinutes()
  let currentTime = `${hour}${minute}`

  let time
  if (currentTime <= 1159) time = 'morning'
  else if (currentTime >= 1200 && currentTime > 1700) time = 'afternoon'
  else time = 'evening'
  %>

  <span class='line-1'>
    Good <%=time%>, Mr. <%=user.last_name%>!
  </span>
    <br>
  <span class='line-2'>
    The time is now <%=hour%>:<%=minute%>
  </span>

  <p class='line-3'>
    Put on some <%=user.favorite%> and have a great day.
  </p>

</div>